<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Room Status</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">The Letterkenny Hotel</a>
    <a href="/admin-dashboard" class="btn btn-dark mt-3">Return</a>
  </div>
</nav>

<div class="container py-5">

<div class="row justify-content-center">
<div class="col-lg-10">

<div class="card shadow-sm">
<div class="card-body p-4">

<h2 class="mb-2">Room Status</h2>
<p class="text-muted mb-4">
View the current availability of rooms & prices.
</p>
<!-- Prices -->
<h4 class="mt-4 mb-3">Room Type Prices</h4>

<div class="row mb-4">

{% set shown_types = [] %}

{% for room in rooms %}
  {% if room.room_type.id not in shown_types %}

    <div class="col-md-3 mb-3">
      <div class="card p-3 text-center shadow-sm">

        <h6>{{ room.room_type.name }}</h6>
        <h5 class="text-primary">
          €{{ "%.2f"|format(room.room_type.base_price) }}
        </h5>

      </div>
    </div>

    {% set _ = shown_types.append(room.room_type.id) %}

  {% endif %}
{% endfor %}

</div>


<table class="table table-striped align-middle">

<thead>
<tr>
<th>Room</th>
<th>Type</th>
<th>Floor</th>
<th>Status</th>
</tr>
</thead>

<tbody>

{% for room in rooms %}

<tr>

<td>{{ room.room_number }}</td>

<td>{{ room.room_type.name }}</td>

<td>{{ room.floor }}</td>





<td>

 {% if room.status == "available" %}
    <span class="badge bg-success">Available</span>

  {% elif room.status == "out_of_order" %}
    <span class="badge bg-danger">Out of Order</span>
{% endif %}
</td>


</tr>

{% endfor %}

</tbody>

</table>



</div>
</div>

</div>
</div>

</div>

</body>
</html>